{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="mx-auto col-md-6 col-md-offset-3 vertical-offset-100">
    <div class="card">
      <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Password reset" %}</strong></h3></div>
      <div class="card-body">
        <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
          {% for field in form %}
          {% include 'machina/partials/form_field.html' with field=field %}
          {% endfor %}
          <input type="hidden" name="next" value="/">
          <div class="form-actions">
            <input type="submit" class="btn btn-large btn-primary" value="{% trans "Reset my password" %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
