{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="mx-auto col-md-6 col-md-offset-3 vertical-offset-100">
    <div class="card">
      <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Password reset" %}</strong></h3></div>
      <div class="card-body">
        <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
        <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
