{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Password reset" %}{% endblock sub_title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 vertical-offset-100">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">{% trans "Password reset" %}</h3></div>
                <div class="panel-body">
                    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
                    <p><a href="{% url 'login' %}" class="btn btn-default">{% trans 'Log in' %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
