.forumlist{
    table{
        margin: 0 auto;

        td{
            vertical-align: middle !important;
        }

        td.forum-icon{width: 5%;}
        td.forum-name{width: 50%;}
        td.forum-count{width: 10%;}
        td.forum-last-post{width: 15%;}
    }

    .forum-icon{
        padding-left: 20px;
        color: @grayLight;
    }

    .forum-name{
        a.forum-name-link{
            display: block;
        }

        .forum-description{font-size: 11px;}
        .sub-forums{font-size: 12px;}
    }

    .forum-count, .forum-last-post, .forum-link-redirects{
        font-size: 13px;
    }
}