// Post_edit.less
// Variables to customize the look and feel of machina post edit forms
// -------------------------------------------------------------------


.preview{
    .post-preview{
        .post-content-wrapper{
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }

    .poll-preview{
        .poll-content-wrapper{
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

.post-edit{
    margin-bottom: 8px;

    form{
        #poll_formset{
            .poll-option-form{
                div.checkbox{
                    margin-top: 6px;
                }
            }
        }
    }
}
