// Post_edit.less
// Variables to customize the look and feel of machina post edit forms
// -------------------------------------------------------------------


.preview{
    .post-preview{
        .post-content-wrapper{
            hr{
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

.post-edit{
    margin-bottom: 8px;

    form{
        #poll_formset{
            .poll-option-form{
                div.checkbox{
                    margin-top: 6px;
                }
            }
        }

        #attachment_formset{
            .attachments-title{
                margin-bottom: 10px;
            }

            .attachment-form{
                div.checkbox{
                    margin-top: 30px;
                }
            }
        }
    }
}

.post-delete{
    margin-bottom: 8px;

    .warning-message{
        margin-bottom: 10px;
    }
}