include LICENSE
include MANIFEST.in
include *.rst
graft machina/static/machina/build
prune machina/static/machina/_libs
recursive-include machina/locale *
recursive-include machina *.html
recursive-include machina/templates *.txt
global-exclude *.pyc
recursive-exclude tests *
