include LICENSE
include MANIFEST.in
include *.rst
recursive-include machina/static *
recursive-include machina/locale *
recursive-include machina *.html
recursive-include machina *.txt
global-exclude *.pyc
recursive-exclude tests *
