# Testing
pytest>=2.6
pytest-cov>=1.8
pytest-django>=2.8
pytest-spec>=0.2
coverage>=3.7,<3.8
factory-boy>=2.4,<2.6
fake-factory>=0.5,<0.6
coveralls>=0.2,<0.3
mock>=1.0.1,<1.1
tox>=1.7,<1.8
flake8>=2.2.5,<3.0

# Docs
Sphinx==1.2.3
sphinx-rtd-theme

# Search indexes
Whoosh>=2.6.0,<3.0
