{% load i18n %}

<table cellspacing="0" id="forum-table-dnd">
    <thead>
        <tr>
            <th scope="col" class="action-checkbox-column">
                <div class="text"><span><input id="action-toggle" type="checkbox" style="display: inline-block;" /></span></div>
            </th>
            <th class="title-cell" scope="col"><div class="text"><span>{% trans "Name" %}</span></div></th>
            <th class="quick-actions-cell" scope="col"><div class="text"><span>{% trans "Quick actions" %}</span></div></th>
            <th class="type-cell" scope="col"><div class="text"><span>{% trans "Type" %}</span></div></th>
            <th class="topics-count-cell" scope="col"><div class="text"><span>{% trans "Topics count" %}</span></div></th>
            <th class="posts-count-cell" scope="col"><div class="text"><span>{% trans "Posts count" %}</span></div></th>
        </tr>
    </thead>
    <tbody>
        {% for forum in cl.result_list %}
            <tr id="forum-row-{{ forum.id }}" class="child-of-{{ forum.parent_id }} draggable">
                <td class="selection-cell action-checkbox-column"><input class="action-select" type="checkbox" name="_selected_action" value="{{ forum.id }}"/></td>
                <th class="title-cell">
                    <div class="title-cell-container" style="margin-{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ forum.margin_level }}em">
                        <a href="{% url 'admin:forum_forum_change' forum.id %}" class="title">
                            {{ forum.name }}
                        </a>
                    </div>
                </th>
                <td class="quick-actions-cell">
                    {% if forum.get_previous_sibling %}
                        <a href="{% url 'admin:forum_forum_move' forum.id 'up' %}"><i class="icon-up-circle"></i></a>
                    {% else %}
                        <i class="icon-up-circle disabled"></i>
                    {% endif %}
                    {% if forum.get_next_sibling %}
                        <a href="{% url 'admin:forum_forum_move' forum.id 'down' %}"><i class="icon-down-circle"></i></a>
                    {% else %}
                        <i class="icon-down-circle disabled"></i>
                    {% endif %}
                    <a href="{% url 'admin:forum_forum_delete' forum.id %}" class="danger"><i class="icon-trash-circled"></i></a>
                </td>
                <td class="type-cell">
                    <div class="type-cell-container">
                        {{ forum.get_type_display }}
                    </div>
                </td>
                <td class="topics-count-cell">
                    <div class="topics-count-cell-container">
                        {{ forum.topics_count }}
                    </div>
                </td>
                <td class="posts-count-cell">
                    <div class="posts-count-cell-container">
                        {{ forum.posts_count }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>