html{
  height: 100%;
  overflow-y: scroll;
}

body{
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -80px;
}

.vertical-offset-100{
  padding-top:100px;
}

.dropdown-menu.show {
  left: auto;
  right: 0;
}

.icon-size{
  font-size: 87px;
}

#push{
  height: 80px;
}

#footer p{
  margin: 20px 0;
}
