{% extends "board_base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <ul class="mb-3 nav nav-pills">
      <li class="nav-item"><a href="{% url 'account-parameters' %}" class="nav-link{% if menu_parameters == "account" %} active{% endif %}">{% trans "Account" %}</a></li>
      <li class="nav-item"><a href="{% url 'account-password' %}" class="nav-link{% if menu_parameters == "password" %} active{% endif %}">{% trans "Password" %}</a></li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        {% block inner_content %}{% endblock inner_content %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
