{% extends "board_base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Sign in" %}{% endblock sub_title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block content %}
<div class="row">
  <div class="mx-auto col-md-6 vertical-offset-100">
    <div class="card">
      <div class="card-header"><h3 class="m-0 card-title h5"><strong>{% trans "Sign in" %}</strong></h3></div>
      <div class="card-body">
        <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i> {{ error }}
          </div>
          {% endfor %}
          {% endif %}
          {% include "machina/partials/form_field.html" with field=form.username %}
          {% include "machina/partials/form_field.html" with field=form.password %}
          <input type="hidden" name="next" value="/">
          <div class="form-actions">
            <a href="{% url 'password_reset' %}"class="btn btn-large btn-default">{% trans "Forgot password?" %}</a>
            <input type="submit" class="btn btn-large btn-primary" value="{% trans "Login" %}" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
