{% extends "registration/base_account.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Edit account parameters" %}{% endblock sub_title %}

{% block inner_content %}
<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="m-0 card-title h5">{% trans "Edit account parameters" %}</h3>
        </div>
        <div class="card-body">
          <form method="post" action="." class="form" enctype="multipart/form-data" novalidate>{% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                {% include "machina/partials/form_field.html" with field=form.username %}
              </div>
              <div class="col-md-6">
                {% include "machina/partials/form_field.html" with field=form.email %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-actions">
                  <div class="float-right">
                    <a href="{% url 'unregister' %}" class="btn btn-danger">{% trans "Remove your account" %}</a>
                  </div>
                  <input type="submit" class="btn btn-large btn-primary" value="{% trans "Submit" %}" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock inner_content %}
