{% load i18n %}
{% load compressed %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <title>{% block title %}{{ site.name }}{% endblock %}</title>
            <meta name="description" content="{% block meta-description %}{% endblock %}" />
            <meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
            
            <!-- hide address bar script -->
            {% compressed_js 'hide-address-bar' %}

            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock head %}
        
        {% block css %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            {% compressed_css 'theme' %}
        {% endblock css %}
        
        {% block extra_css %}
        {% endblock extra_css %}
        
    </head>
    <body>
        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% endblock js %}
            {% block header %}
                <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">django-machina</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        {% block header_collapse %}
                        {% endblock header_collapse %}
                    </div>
                </div>
                <br /><br />
            {% endblock header %}
        	<br />
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% block messages %}
                        {% endblock messages %}
                    </div>
                </div>
            	{% block content %}
            	{% endblock content %}
            </div>
        
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
