{% extends "machina/board_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block css %}
	{{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'less/theme.less' %}" />
    {% endcompress %}
{% endblock css %}

{% block body %}
	<div id="wrap">
		{{ block.super }}
		<div id="push"></div>
	</div>
    <footer id="footer">
        <div class="container">
        	<div class="pull-right">
        		<p class="text-muted">
        			{% trans "Powered by: "%}&nbsp;
        			<a href="https://www.djangoproject.com/">Django</a>,&nbsp;<a href="https://github.com/ellmetha/django-machina">django-machina</a>
        		</p>
        	</div>
        </div>
    </footer>
{% endblock body %}