{% extends "machina/board_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block css %}
	{{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'less/theme.less' %}" />
    {% endcompress %}
{% endblock css %}

{% block header_collapse %}
    {{ block.super }}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{% trans "Sign up" %}</a></li>
        <li><a href="{% url 'login' %}">{% trans "Sign in" %}</a></li>
    </ul>
{% endblock header_collapse %}

{% block body %}
	<div id="wrap">
        <a href="https://github.com/ellmetha/django-machina"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
		{{ block.super }}
		<div id="push"></div>
	</div>
    <footer id="footer">
        <div class="container">
        	<div class="pull-right">
        		<p class="text-muted">
        			{% trans "Powered by: "%}&nbsp;
        			<a href="https://www.djangoproject.com/">Django</a>,&nbsp;<a href="https://github.com/ellmetha/django-machina">django-machina</a>
        		</p>
        	</div>
        </div>
    </footer>
{% endblock body %}