{% extends 'board_base.html' %}
{% load i18n %}

{% block sub_title %}{% blocktrans with username=profile.user.username %}{{ username }} profile{% endblocktrans %}{% endblock sub_title %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% blocktrans with username=profile.user.username %}{{ username }} profile{% endblocktrans %}</h1>
    <br />
  </div>
</div>
<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <div class="panel panel-default">
        <div class="profile-avatar">
          {% include "partials/avatar.html" with profile=profile placeholder=True %}
        </div>
        <div class="profile-username">
          <h3 class="text-center text-muted">{{ profile.user.username }}</h3>
        </div>
      </div>
    </div>
    {% if profile.user == request.user %}
    <a href="{%url 'forum_member:profile_update' %}" class="btn btn-block btn-primary">{% trans "Edit profile" %}</a>
    {% endif %}
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-content">
          <div class="panel panel-default">
            <div class="panel-heading">{% trans "Statistics" %}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 divider text-center">
                  <div class="col-xs-12 col-sm-6 emphasis">
                    {% blocktrans count counter=profile.posts_count %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Post</small></p>{% plural %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Posts</small></p>{% endblocktrans %}
                  </div>
                  <div class="col-xs-12 col-sm-6 emphasis">
                    {% blocktrans count counter=topics_count %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Topic</small></p>{% plural %}<h2><strong>{{ counter }}</strong></h2>
                    <p><small>Topics</small></p>{% endblocktrans %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row recent-posts">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">{% trans "Recent posts" %}{% if recent_posts %}&nbsp;(<a href="{% url 'forum_member:user_posts' profile.user_id %}">{% trans "View all" %}</a>){% endif %}</div>
          <div class="panel-body">
            {% for post in recent_posts %}
            <div class="row post">
              <div class="col-md-12 post-content-wrapper">
                <div class="post-title">
                  <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}">{{ post.subject }}</a>
                </div>
                <p>
                  <small class="text-muted">
                    <i class="fa fa-clock-o"></i>&nbsp;{% blocktrans with creation_date=post.created %}On {{ creation_date }}{% endblocktrans %}
                  </small>
                </p>
                <div class="post-content">
                  {{ post.content.rendered|truncatechars_html:160 }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
