{% extends 'board_base.html' %}
{% load i18n %}
{% load forum_conversation_tags %}

{% block sub_title %}{% trans "Move topic" %}{% endblock sub_title %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default topic-move">
	            <div class="panel-heading">
	                <h3 class="panel-title">{% trans "Move topic" %}</h3>
	            </div>
	            <div class="panel-body">
				    <form action="" method="post">{% csrf_token %}
				    	{% include "partials/form_field.html" with field=form.forum %}
                        <div class="checkbox">
                            <label for="{{ form.lock_topic.auto_id }}">
                                {{ form.lock_topic }}
                                {{ form.lock_topic.label }}
                            </label>
                        </div>
				        <input type="submit" value="{% trans "Move" %}" class="btn btn-warning" />
				        <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}" class="btn">{% trans "Cancel" %}</a>
				    </form>
	            </div>
			</div>
		</div>
	</div>
{% endblock content %}
