{% extends "board_base.html" %}
{% load i18n %}

{% block content_wrapper %}
    <br />
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="parameters-menu-wrapper">
          <div class="title">{% trans "Parameters" %}</div>
          <ul class="parameters-menu">
            <li{% if menu_parameters == "profile" %} class="active"{% endif %}><a href="{% url 'forum_member:profile_update' %}">{% trans "Forum profile" %}</a></li>
            <li{% if menu_parameters == "account" %} class="active"{% endif %}><a href="{% url 'account-parameters' %}">{% trans "Account" %}</a></li>
            <li{% if menu_parameters == "password" %} class="active"{% endif %}><a href="{% url 'account-password' %}">{% trans "Password" %}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-xs-12">
        {% block content %}{% endblock content %}
      </div>
    </div>
{% endblock content_wrapper %}
