// MACHINA DJANGO ADMIN UNIQUE STYLES
// -----------
@import "admin/variables.less"; // Modify this for custom colors, font-sizes, etc

// Components: Icons / Fonts
@import "font-awesome/font-awesome.less";


// General
// -----------

.danger{
    color: @redLight;
}
a.danger{
    color: @redLight;
    &:hover{
        color: @red;
    }
}


// Change list
// -----------

#forum-table-dnd{
    .quick-actions-cell{
        width: 5%;
        text-align: center;

        .disabled{
            color: @grayLighter;
        }
    }
}