{% extends "machina/board_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load forum_permission_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" />
{% endblock css %}

{% block body %}
<div id="wrap">
  <div class="navbar-fixed-top-spacing">&nbsp;</div>
  <div class="navbar navbar-default navbar-fixed-top machina-navbar navbar-machina" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Machina Forum</a>
      </div>
      <div class="collapse navbar-collapse">
        {% if request.user.is_authenticated %}
        <p class="navbar-text">{{ request.user.username }}</p>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'forum_search:search' %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Search' %}"><i class="fa fa-search"></i></a></li>
          <li><a href="{% url 'forum_member:profile' request.user.id %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Profile' %}"><i class="fa fa-user"></i></a></li>
          <li><a href="{% url 'account-parameters' %}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Account settings' %}"><i class="fa fa-cogs"></i></a></li>
          <li><a href="{% url 'logout' %}?next=/" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Sign out' %}"><i class="fa fa-power-off"></i></a></li>
        {% else %}
          <li><a href="{% url 'register' %}">{% trans "Sign up" %}</a></li>
          <li><a href="{% url 'login' %}">{% trans "Sign in" %}</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="main_container">
    <div class="row">
      <div class="col-xs-12">
        {% block breadcrumb %}{% include "machina/partials/breadcrumb.html" %}{% endblock breadcrumb %}
        <div class="pull-right controls-link-wrapper">
        {% if not request.user.is_anonymous %}
          <a href="{% url 'forum_member:user_subscriptions' %}" class="btn btn-link"><i class="fa fa-bookmark-o ">&nbsp;</i>{% trans "Subscriptions" %}</a>
          <a href="{% url 'forum_member:user_posts' request.user.pk %}" class="btn btn-link"><i class="fa fa-comments-o ">&nbsp;</i>{% trans "View my messages" %}</a>
        {% endif %}
        {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
        {% if can_access_moderation_queue %}
          <a href="{% url 'forum_moderation:queue' %}" class="btn btn-link"><i class="fa fa-gavel">&nbsp;</i>{% trans "Moderation queue" %}</a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <br />
        {% block messages %}{% include "machina/partials/messages.html" %}{% endblock messages %}
      </div>
    </div>
    {% block content_wrapper %}
    {% block content %}
    {% endblock content %}
    {% endblock content_wrapper %}
  </div>
  <div id="push"></div>
</div>
<footer id="footer">
  <div class="container">
    <div class="pull-right">
      <p class="text-muted">
        Powered by&nbsp;<a href="https://www.djangoproject.com/">django</a>&nbsp;and&nbsp;<a href="https://github.com/ellmetha/django-machina">django-machina</a>
      </p>
    </div>
  </div>
</footer>
{% endblock body %}

{% block js %}
{{ block.super }}
<script>
  $(document).ready(function() {
      $('a[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock js %}
