@import "../_libs/font-awesome/css/font-awesome.css";
.danger {
  color: #b82010;
}
a.danger {
  color: #b82010;
}
a.danger:hover {
  color: #9d261d;
}
.success {
  color: #7ac143;
}
a.success {
  color: #7ac143;
}
a.success:hover {
  color: #46a546;
}
#forum-table-dnd .quick-actions-cell {
  width: 5%;
  text-align: center;
}
#forum-table-dnd .quick-actions-cell .disabled {
  color: #eeeeee;
}
table#forum-permissions-table-dnd {
  width: 100%;
}
table#forum-permissions-table-dnd .permission-name-cell {
  width: 70%;
}
table#forum-permissions-table-dnd .not-set-cell,
table#forum-permissions-table-dnd .granted-cell,
table#forum-permissions-table-dnd .not-granted-cell {
  width: 10%;
  text-align: center;
}
table#forum-permissions-table-dnd thead th a {
  padding: 0;
  display: block;
}
table#forum-permissions-table-dnd tbody td {
  border-left: 1px solid #ddd;
}
table#forum-permissions-table-dnd tbody td.granted-cell {
  padding: 0;
}
table#forum-permissions-table-dnd tbody td.granted-cell:hover,
table#forum-permissions-table-dnd tbody td.granted-cell:focus {
  background: #46a546;
}
table#forum-permissions-table-dnd tbody td.not-granted-cell {
  padding: 0;
}
table#forum-permissions-table-dnd tbody td.not-granted-cell:hover,
table#forum-permissions-table-dnd tbody td.not-granted-cell:focus {
  background: #9d261d;
}
table#forum-permissions-table-dnd tbody td.not-set-cell {
  padding: 0;
}
table#forum-permissions-table-dnd tbody td.not-set-cell:hover,
table#forum-permissions-table-dnd tbody td.not-set-cell:focus {
  background: #999999;
}
table#forum-permissions-table-dnd tbody td.permission-name-cell {
  font-weight: bold;
}
table#forum-permissions-table-dnd tbody td.permission-name-cell .text {
  padding: 3px 5px;
}
table#forum-permissions-table-dnd tbody td label {
  padding: 0;
  width: 100%;
}
table#forum-permissions-table-dnd tbody td input {
  margin: 0;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
