.forumlist-top-controls p {
  margin: 0;
  padding: 6px 12px;
}
.forumlist .panel-heading {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
}
.forumlist .panel-heading table.table {
  margin: 0 auto;
}
.forumlist .panel-heading table.table td {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}
.forumlist .panel-heading table.table td.forum-name-col {
  width: 65%;
}
.forumlist .panel-heading table.table td.forum-count-col {
  width: 10%;
}
.forumlist .panel-heading table.table td.forum-last-post-col {
  width: 15%;
}
.forumlist .panel-heading table.table td.forum-name-col {
  padding-left: 14px;
}
.forumlist .panel-heading table.table .forum-count-col {
  text-align: center;
}
.forumlist .panel-heading table.table .forum-count-col,
.forumlist .panel-heading table.table .forum-last-post-col {
  font-size: 13px;
  text-transform: uppercase;
  color: #555555;
}
.forumlist .panel-body {
  padding: 0;
}
.forumlist .panel-body table.table {
  margin: 0 auto;
}
.forumlist .panel-body table.table td {
  vertical-align: middle !important;
}
.forumlist .panel-body table.table td.forum-icon {
  width: 5%;
}
.forumlist .panel-body table.table td.forum-name {
  width: 55%;
}
.forumlist .panel-body table.table td.forum-syndication {
  width: 5%;
}
.forumlist .panel-body table.table td.forum-count {
  width: 10%;
}
.forumlist .panel-body table.table td.forum-last-post {
  width: 15%;
}
.forumlist .panel-body .forum-icon {
  padding-left: 20px;
  text-align: center;
  color: #3497ff;
}
.forumlist .panel-body .forum-icon.unread {
  color: #dc4e44;
}
.forumlist .panel-body .forum-icon.link {
  color: #999999;
}
.forumlist .panel-body .forum-name .forum-description {
  font-size: 11px;
}
.forumlist .panel-body .forum-name .sub-forums {
  font-size: 12px;
}
.forumlist .panel-body .forum-count,
.forumlist .panel-body .forum-syndication {
  text-align: center;
}
.forumlist .panel-body .forum-count,
.forumlist .panel-body .forum-last-post,
.forumlist .panel-body .forum-link-redirects {
  font-size: 13px;
}
.pagination-block {
  text-align: right;
  vertical-align: middle;
}
.pagination-block .mark-topics-read {
  padding: 8px 12px;
  float: right;
}
.pagination-block .pagination {
  margin: 4px 0;
  float: right;
}
.forum-actions-block {
  position: relative;
  z-index: 2;
  padding-top: 3px;
  padding-bottom: 9px;
}
.forum-actions-block p {
  margin: 0;
  padding: 6px 12px;
}
.topiclist {
  margin-bottom: 6px;
}
.topiclist .panel-heading {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
}
.topiclist .panel-heading table.table {
  margin: 0 auto;
}
.topiclist .panel-heading table.table td {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}
.topiclist .panel-heading table.table td.topic-name-col {
  width: 55%;
}
.topiclist .panel-heading table.table td.topic-count-col {
  width: 10%;
}
.topiclist .panel-heading table.table td.topic-last-post-col {
  width: 15%;
}
.topiclist .panel-heading table.table td.topic-name-col {
  padding-left: 14px;
}
.topiclist .panel-heading table.table .topic-count-col {
  text-align: center;
}
.topiclist .panel-heading table.table .topic-count-col,
.topiclist .panel-heading table.table .topic-last-post-col {
  font-size: 13px;
  text-transform: uppercase;
  color: #555555;
}
.topiclist .panel-body {
  padding: 0;
}
.topiclist .panel-body table.table {
  margin: 0 auto;
}
.topiclist .panel-body table.table td {
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle !important;
}
.topiclist .panel-body table.table td.topic-icon {
  width: 5%;
}
.topiclist .panel-body table.table td.topic-name {
  width: 50%;
}
.topiclist .panel-body table.table td.topic-count {
  width: 10%;
}
.topiclist .panel-body table.table td.topic-last-post {
  width: 15%;
}
.topiclist .panel-body .topic-icon {
  padding-left: 20px;
  text-align: center;
  color: #3497ff;
}
.topiclist .panel-body .topic-icon.unread {
  color: #dc4e44;
}
.topiclist .panel-body .topic-name .topic-created,
.topiclist .panel-body .topic-name .topic-inline-pagination {
  font-size: 11px;
  color: #666;
}
.topiclist .panel-body .topic-count {
  text-align: center;
}
.topiclist .panel-body .topic-count,
.topiclist .panel-body .topic-last-post {
  font-size: 13px;
}
.preview .post-preview .post-content-wrapper hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.post-edit {
  margin-bottom: 8px;
}
.post-edit form .markItUp {
  width: 100%;
}
.post-edit form .markItUp textarea.markItUpEditor {
  width: 100%;
  font-familly: initial !important;
  font-size: 14px !important;
}
.post-edit form .markItUp .markItUpHeader ul li {
  margin-bottom: 5px;
}
.post-edit form #poll_formset .poll-option-form div.checkbox {
  margin-top: 6px;
}
.post-edit form #attachment_formset .attachments-title {
  margin-bottom: 10px;
}
.post-edit form #attachment_formset .attachment-form div.checkbox {
  margin-top: 30px;
}
.post-delete {
  margin-bottom: 8px;
}
.post-delete .warning-message {
  margin-bottom: 10px;
}
.topic-review .panel-body {
  max-height: 300px;
  overflow-y: scroll;
}
.topic-review .panel-body .post-review {
  padding: 8px 0;
  border-bottom: 3px solid #eeeeee;
}
.topic-review .panel-body .post-review .post-content-wrapper h4.subject {
  margin: 0;
}
.topic-review .panel-body .post-review .post-content-wrapper .attachments .attachments-title {
  margin-top: 10px;
  display: inline-block;
  border-bottom: 1px solid #999999;
}
.topic-review .panel-body .post-review .post-content-wrapper .attachments .attachment {
  margin-top: 4px;
}
.topic-review .panel-body .post-review .post-content-wrapper .attachments .attachment p {
  margin: 0;
}
.topic-review .panel-body .post-review .post-sidebar {
  border-left: 1px solid #eeeeee;
}
.pagination-block {
  text-align: right;
}
.pagination-block .pagination {
  margin: 4px 0;
}
.topic-actions-block {
  position: relative;
  z-index: 2;
  padding-top: 3px;
  padding-bottom: 9px;
}
.post {
  margin-bottom: 8px;
}
.post .panel-body .post-content-wrapper h4.subject {
  margin: 0;
}
.post .panel-body .post-content-wrapper .attachments .attachments-title {
  margin-top: 10px;
  display: inline-block;
  border-bottom: 1px solid #999999;
}
.post .panel-body .post-content-wrapper .attachments .attachment {
  margin-top: 4px;
}
.post .panel-body .post-content-wrapper .attachments .attachment p {
  margin: 0;
}
.post .panel-body .post-sidebar {
  border-left: 1px solid #eeeeee;
}
.poll {
  margin-bottom: 8px;
}
.poll .panel-body .poll-content-wrapper h4.question {
  margin: 0;
}
.poll .panel-body .poll-content-wrapper hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.poll .panel-body .poll-content-wrapper .poll-options {
  margin-top: 16px;
}
.poll .panel-body .poll-content-wrapper .poll-options .radio,
.poll .panel-body .poll-content-wrapper .poll-options .checkbox {
  margin: 0;
}
.resultslist {
  margin-bottom: 6px;
}
.resultslist .panel-heading {
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 0;
  padding-bottom: 8px;
}
.resultslist .panel-body {
  padding: 0;
}
.resultslist .panel-body table.table {
  margin: 0 auto;
}
.resultslist .panel-body table.table td {
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle !important;
}
.resultslist .panel-body table.table td.post-name {
  width: 40%;
}
.resultslist .panel-body table.table td.post-content {
  width: 60%;
}
.resultslist .panel-body .post-name .post-created {
  font-size: 11px;
  color: #666;
}
.resultslist .panel-body .post-content .highlighted {
  font-weight: bold;
}
