name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD: ""
          MYSQL_DATABASE: machina_test
        ports:
          - 3307:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
          POSTGRES_DB: machina_test
        ports:
          - 5432:5432
        # Needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      matrix:
        python-version: [
          3.5,
          3.6,
          3.7,
          3.8,
        ]
        django-version: [
          "django>=2.2,<3.0",
          "django>=3.0,<3.1",
          "django>=3.1,<3.2"
        ]
        db: [
          'mysql',
          'postgres',
          'sqlite',
        ]
        exclude:
          - python-version: 3.5
            django-version: "django>=3.0,<3.1"
          - python-version: 3.5
            django-version: "django>=3.1,<3.2"

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Start MySQL if applicable
      if: matrix.db == 'mysql'
      run: |
        sudo /etc/init.d/mysql start
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U pip poetry
        poetry install
        poetry run pip install psycopg2 mysqlclient
        poetry run pip install --pre -U "${{ matrix.django-version }}" "django-haystack>=3.0b1"
    - name: Run QA checks
      run: make qa
    - name: Run tests suite
      run: poetry run pytest --cov-report xml --cov machina
      env:
        DB: ${{ matrix.db }}
    - name: Upload coverage to Codecov
      if: matrix.python-version == 3.8 && matrix.django-version == 'django>=3.0,<3.1' && matrix.db == 'sqlite'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
